/*--------------- google fonts -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Saira&display=swap');
/*--------------- css variables -------------------*/
:root{
    --header-height:3.5rem;
}

/*-----base-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

html{
    font-family:  #0A0A0B;
    font-size: .813rem;
    background-color: #232A30;
    color:  #BABEC4;
}
#navbar{
    position: absolute;

}
.hafsa1 img{
    width: 100%;
    position: relative;
    height: 100%;
}

h1, h2, h3{
    color:  #ffffff;
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*----reusable css classes-------*/
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section__title{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.main{
    overflow: hidden;
    position: relative;
    
}

/*-------- popular ---------*/
.popular__container{
    padding-top: 1rem;
}

.popular__card{
    position: relative;
    width: 238px;
    background-color: #5F646D;
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 3.5rem;
    overflow: hidden;
}

.popular__card .shape__smaller{
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
}

.popular__title,
.popular__subtitle,
.popular__img{
    position: relative;
}

.popular__title{
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.popular__subtitle{
    font-size: .938rem;
    color: #BABEC4;
    font-weight: 400;
}

.popular__img{
    width: 160px;
    margin: .75rem 0rem 1.25rem 1.5rem;
    transition: .3s;
}

.popular__data{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .5rem 1.25rem;
    margin-bottom: 2rem;
}

.popular__data-group{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: .75rem;
    color: #fff;
}

.popular__data i{
    font-size: 1rem;
}

.popular__price{
    font-size: 1rem;
}

.popular__button{
    border: none;
    outline: none;
    padding: .75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0rem 1rem 0rem;
    cursor: pointer;
}

.popular__button i{
    font-size: 1.25rem;
}

.popular__card:hover .popular__img{
    transform: translateY(-.25rem);
}





/*--------------- Featured -------------------*/
.featured__container{
    padding: 1rem;
    display: initial;
}

.featured__filters{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    margin-bottom: 3.5rem;
}

.featured__item{
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    padding: .75rem;
    border-radius: .75rem;
    background-color:  #131A1D;
    color: #fff;
    font-size: .938rem;
    cursor: pointer;
    transition: .3s;
}

.featured__item img{
    width: 1.5rem;
}

.featured__item span,
.featured__item img{
    opacity: .3;
    transition: .3s;
}

.featured__item:hover{
    background-color: #4178DC;
}

.featured__item:hover span,
.featured__item:hover img{
    opacity: 1;
}

.featured__content{
    grid-template-columns: repeat(3,200px);
    row-gap: 2.5rem;
    justify-content: center;
}

.featured__card{
    position: relative;
    background-color:  #232a30;
    padding: 15rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.featured__card .shape__smaller{
    position: absolute;
    inset: 0;
    margin: auto;
}

.featured__title,
.featured__subtitle,
.featured__img{
    position: relative;
}

.featured__title{
    font-size: var(--h2-font-size);
    margin-bottom: .25rem;
    text-align: center;
}

.featured__subtitle{
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.featured__img{
    width: 180px;
    margin: 1.5rem 0;
    transition: .3s;
}

.featured__price{
    font-size: 1rem;
    padding-left: 10px;
}

.featured__button{
    border: none;
    outline: none;
    padding: .75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}

.featured__button i{
    font-size: 1.25rem;
}

.featured__card:hover .featured__img{
    transform: translateX(-.25rem);
}

.active-featured{
    background-color:  #4178DC;
}

.active-featured span,
.active-featured img{
    opacity: 1;
}


/*---------nav and footer------*/







footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #121315;
  }
  footer ul {
    list-style: none;
  }
  footer p {
    color: #fff;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
  .brand {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .media-icons li,
  .services-icons li {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
  }
  .media-icons a {
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .media-icons a:hover {
    background: #fff;
    color: #111;
  }
  .services-icons a {
    font-size: 1.6em;
  }
  .services-icons a:hover {
    color: var(--hov-color);
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(224, 186, 20, 0.36);
    padding: 2em;
  }
  .footer .menu {
    margin-bottom: 1em;
  }
  .footer .menu li {
    display: inline-block;
    margin: 0 0.7em 0.7em 0;
    text-align: center;
  }
  .footer .menu a {
    transition: 0.3s;
    font-weight: 600;
  }
  .footer .menu a:hover {
    color: var(--hov-color);
  }
  .input-wrap {
    margin: 1em 0;
    display: flex;
  }
  .input-wrap input {
    padding: 0.5em;
    border: none;
    background: #20232a;
    color: #ccc;
  }
  .input-wrap input:focus {
    outline: none;
  }
  .input-wrap button {
    padding: 0.8em;
    background: white;
    border: none;
    color: var(--hov-color);
    transition: 0.3s;
  }
  .input-wrap button:hover {
    background: #fff;
    color: #111;
  }
  /* == responsive == */
  @media screen and (max-width: 900px) {
    .footer .container {
      flex-direction: column;
    }
  }


  /*-----------search bar--------*/

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#search {
    width: 40%;
    padding: 1rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #131A1D;
    color: #fff;
    font-size: 0.938rem;
}

.search-button {
    background-color: #131A1D;
    color: #fff;
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.search-button i {
    font-size: 1rem;
}

#search::placeholder {
    color: #BABEC4;
}

#search:focus {
    outline: none;
}

/* --------------pagination----------- */
.active{
    padding: 5px 10px;
    background: blue;
}